{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Salasana": "upload-salasana-kampanjalle",
  "GoogleCredentialsFile": "adventti-b8b91cacef88.json",
  "GoogleCloudStorageBucket": "pakkasyohaaste"
}
