@page
@model PrivacyModel
@{
    ViewData["Title"] = "Yksityisyys";
}
<h1>@ViewData["Title"]</h1>

<p>Kuvia voidaan käyttää Aviapartion sosiaalisissa medioissa, mutta näin ei tehdä kysymättä sinun lupaasi. Alle 13 v tarvitsemme vanhemman luvan. Muista jättää nimesi kenttään.</p>


<h2>Ohjelma</h2>
<p>Simpplelin ohjelman lähdekoodi on vapaasti käytettävissä <a href="https://github.com/Aviapartio/pakkasyohaaste">GitHub-palvelussa</a></p>
